<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Cogitators</title>
        <link rel="stylesheet" href="/stylesheets/homestyle.css">
        <script src="javascript/script.js"></script>
    </head>
    <body>
        <header>
            <div id="home-header">
                <a href="homepage"></a>                
            </div>
            <nav>
                <ul id="nav-container">
                    <li><a id="btn-whatwedo" href="whatwedo">what we do</a></li>
                    <li><a id="btn-howwedo" href="howwedo">how we do</a></li>
                    <li><a id="btn-services" href="services">services</a></li>
                    <li><a id="btn-aboutus" href="aboutus">about us</a></li>
                    <li><a id="btn-contactus" href="contactus">contact us</a></li>
                </ul>
            </nav>
        </header>

        <div class="content">


        </div>
    </body>
</html>
