<div class="content-header">
    <span>A Proven Process</span>
</div>
<div class="btn-container-right">
    <ul>
        <li>
            <span>How We Do</span>
        </li>
        <li>
            <a href="#">Scope Investigation</a>
        </li>
        <li>
            <a href="#">Creative Development</a>
        </li>
        <li>
            <a href="#">Technical Development</a>
        </li>
        <li>
            <a href="#">Project Delivary</a>
        </li>
        <li>
            <a href="#">Maintenance</a>
        </li>        
    </ul>
</div>
<div class="content-text">
    <p>
                 Our goal is to get you where you want to go. We want to keep you involved in the whole process, and let you know exactly what's going on with your website.   Scope Investigation,Creative Development,Technical Development,Project Delivery and  Maintenance  - it's all a part of getting you a website that will accomplish just what you want.
    </p>
    <p>
     Wanna know the secret to our magic? Here's a sneak peek of our own web development process that ensures you have a great website:
</p>
<div>
    <p>
<b>Scope Investigation</b><br />
The first thing we do is sit and chat. We listen to what your goals are and what you'd like to accomplish online. We'll also be really honest and tell you what will work and not work. Some companies won't say anything until it's too late and you've burned up your budget - which is not cool. We'll help you get what you want but most importantly, what you need. Once we're set on the goals, your friendly account executive will draw up a scope document that serves as a guide for development. 
</p>
</div>

<div>
 <p>
<b>
Creative Development</b> </br>
This is where you get to see all of those great ideas on paper. We'll present you with a sketch of the colors, fonts and all the other great stuff we talked about during the investigation. We know we may not get it on the first try, so we typically have a few rounds of edits accounted for in your timeline. Once you love it, we move on to the next phase.
</p>
</div>

<div>
<p><b>Technical Development</b><br />
Once our developers get the sketch, it's broken up into pieces and rebuilt. Through the clickety clacks, a little fairy dust and unicorns, a website is born. Most of our sites are coded from scratch and optimized for your specific business. That means you will have a trackable and unique online identity.
</p>
</div>
        <div><p><b>
 	SEO Services</b><br />
		If you want your website to appear on the listings of the popular search engines, you will need to consider ways of optimizing your website. Search engine optimization is generally a service that involves a lot of money and much risk. Our solution is to reduce risk by postponing your payment until we have produced results - and if we don’t succeed we don’t ask for a penny. 
</p>
</div>
        <div><p><b>
Project Delivery</b><br />
When your website is stamped for approval by our developers, we hand it over to you for proofreading and testing functionality. We also ask you to break it. No worries, it sounds more tragic than it is. This is when we work out the kinks, fix all the whatchamacallits and polish it up for its debut.
</p>
</div>
        <div><p><b>
Maintenance</b><br />

The launch of the project doesn’t mean the end of Cogitators involvement. Our ongoing services and support team will continue to maintain and review metrics for long-term success and site evolution.
</p>
</div>
    
    
   


   
</div>
<script type="text/javascript">
    $(function () {          
        $('#header-third-cell').addClass('header-ribbon'); 
        $("a[href='howwedo']").removeClass('header-aElement').addClass('atext-active-color');    
});
</script>