<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Cogitators</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/javascripts/jquery-1.10.2.js"></script>
        <script src="/javascripts/script.js"></script>
    </head>
    <body>
        <header>
            <div id="header-table">
                <div id="header-table-row">
                    <div>
                        <a href="homepage"></a>                         
                    </div>
                    <div id="header-second-cell">
                        <a href="whatwedo">what we do</a>
                    </div>
                    <div id="header-third-cell">
                        <a href="howwedo">how we do</a>
                    </div>
                    <div id="header-fourth-cell">
                        <a href="services">services</a>
                    </div>
                    <div id="header-fifth-cell">
                        <a href="aboutus">about us</a>
                    </div>
                    <div id="header-sixth-cell">
                        <a href="contactus">contact us</a>
                    </div>
                </div>
            </div>

        </header>

        <div class="content">
           <%- body%>
        </div>

        <footer>
        </footer>
    </body>
</html>
