<div class="content-header">
                <span>We Think In Code, Dream In Colors</span>
            </div>  
            <div id="table-images-first" class="table-images-container">
                <div class="table-images-row">
                    <div class="table-images-cell">
                        <span id="img-retail">
                        </span>
                        <span id="img-movie">
                        </span>
                         <span id="img-bus">
                        </span>
                    </div>                    
                </div>
            </div> 
            
            <div id="table-text-first" class="table-images-container">
                <div class="table-images-row">
                    <div class="table-images-cell">
                        <span id="text-retail">
                            Online Retail Marketing
                            <p>online retail marketing project is for retail shops for ordering products online</p>
                        </span>
                        <span id="text-movie">
                            Online Movie Tickets
                            <p>online movie tickets projects is for theatres and third party vendors who wants
                                 provide service for booking movie tickets online
                            </p>
                        </span>
                         <span id="text-bus">
                             Online Bus Tickets
                             <p>
                                 online bus tickets booking project is for Travel agents and third party vendors
                                  who wants to provide service for booking tickets online.
                             </p>
                        </span>
                    </div>                    
                </div>
            </div>  
            
            <div id="table-images-second" class="table-images-container">
                <div class="table-images-row">
                    <div class="table-images-cell">
                        <span id="img-shop">
                        </span>
                        <span id="img-food">
                        </span>
                         <span id="img-hotel">
                        </span>
                    </div>                    
                </div>
            </div>   
            
            <div id="table-text-second" class="table-images-container">
                <div class="table-images-row">
                    <div class="table-images-cell">
                        <span id="text-shop">
                            Online Shopping
                            <p>online shopping project is for vendors who wants sell clothes , elctronics online</p>
                        </span>
                        <span id="text-food">
                            Order Food Online
                            <p>
                                order food online projects is for restaurantes who wants provide delivary on online orders.
                            </p>
                        </span>
                         <span id="text-hotel">
                             Online Hotel Rooms
                             <p>
                                online hotel rooms project is for hotels who wants to book hotel rooms online
                             </p>
                        </span>
                    </div>                    
                </div>
            </div>   