<div class="content-header">

    <span>We Are Small, Smart Team</span>
</div>
<div class="btn-container-right">
    <ul>
        <li>
            <span>About Us</span>
        </li>
        <li>
            <a href="#">Our Mission</a>
        </li>
        <li>
            <a href="#">Our Team</a>
        </li>
        <li>
            <a href="#">Vision</a>
        </li>
    </ul>
</div>
<div class="content-text">
    <p>
         Cogitators provides design and development services for technology platforms including web, mobile and digital signs. Our strengths lie in user experience, visual design and user interface design, custom application development, and implementation of web tools and products. We can seamlessly integrate with existing campaigns as well as provide branding, logo design, and print marketing initiatives to ensure your brand is being effectively executed across all communication platforms. While we have an extensive set of back-end custom development skills (.NET, ColdFusion, java, and other languages), we also have implemented and customized many enterprise CMS, LMS and e-commerce systems. In short, we find innovative ways of leveraging the latest digital and web-based technologies to further your business objectives.
fter an in-depth analysis of your situation, we work with you to devise smart solutions that deliver measurable results. Solutions that fuse strategy, creativity, and technology to enhance marketing campaigns, automate processes, improve communication. Solutions that powerfully connect your message with your audience.
hat we do depends entirely on what you need. Because each project presents its own challenges, our solutions come in many forms. Explore our solutions by making a selection from the right.
    </p>

</div>
<script type="text/javascript">
    $(function () {          
        $('#header-fifth-cell').addClass('header-ribbon'); 
        $("a[href='aboutus']").removeClass('header-aElement').addClass('atext-active-color');    
});
</script> 
