 <div class="content-header">
                <span>Making Contact</span>                
            </div> 

            <div class="contact-content">
                <span>
                Looking for a strategic partner? We’d love to hear more about you.
                And we’d love to share more of our work. So give us a call. Drop 
                us an email or, better yet, simply use the form below.
                 </span>
            </div> 

            <div class="contact-details-container">
                <ul>
                    <li ><label id="lbl-name" for="Name">Name</label></li>
                    <li><input type="text" id="Name" name="Name" /></li>
                    <li><label for="CompanyName">Company Name</label></li>
                    <li><input type="text" id="CompanyName" name="CompanyName" /></li>
                    <li><label for="Email">E-mail</label></li>
                    <li><input type="text" id="Email" name="Email" /></li>
                    <li><label for="Phone">Phone</label></li>
                    <li><input type="text" id="Phone" name="Phone" /></li>
                    <li><label for="Description">Description</label></li>
                    <li><textarea rows="4" cols="40"></textarea></li>
                    <li> <a href="#">send</a></li>
                </ul>
            </div>
             <div class="spiral-container">
             </div>
             <div class="address-container">
                 <ul>
                     <li class="addr-li-odd"><span>Email:</span></li>
                      <li class="addr-li-even"><span>info@cogitators.com</span></li>
                      <li class="addr-li-odd"><span>Phone:</span></li>
                      <li class="addr-li-even"><span>9704557676</span></li>
                      <li class="addr-li-odd"><span>Address:</span></li>
                      <li class="addr-li-even">
                          <span>23A Bachupally,</span></br>                          <span> Hyderabad,</span></br>                          <span>India.</span>
                      </li>
                 </ul>
            </div> 
<script type="text/javascript">
    $(function () {          
        $('#header-sixth-cell').addClass('header-ribbon');   
        $("a[href='contactus']").removeClass('header-aElement').addClass('atext-active-color'); 
});
</script> 