<div class="content-header">
    <span>A Proven Process</span>
</div>
<div class="btn-container-right">
    <ul>
        <li>
            <span>How We Do</span>
        </li>
        <li>
            <a href="#">Scope Investigation</a>
        </li>
        <li>
            <a href="#">Creative Development</a>
        </li>
        <li>
            <a href="#">Technical Development</a>
        </li>
        <li>
            <a href="#">Project Delivary</a>
        </li>
        <li>
            <a href="#">Maintenance</a>
        </li>        
    </ul>
</div>
<div class="content-text">
    <p>
                 Our goal is to get you where you want to go. We want to keep you involved in the whole process, and let you know exactly what's going on with your website.   Scope Investigation,Creative Development,Technical Development,Project Delivery and  Maintenance  - it's all a part of getting you a website that will accomplish just what you want.
    </p>
   
</div>
<script type="text/javascript">
    $(function () {          
        $('#header-third-cell').addClass('header-ribbon'); 
        $("a[href='howwedo']").removeClass('header-aElement').addClass('atext-active-color');    
});
</script>